.welcome {
  max-width: 650px;
  height: 300px;
  margin: 3rem auto 1rem;
}

.title {
  font-weight: 700;
  font-size: clamp(2.5rem, 10vw, 4rem);
}
.subtitle {
  font-weight: 500;
  font-size: clamp(2rem, 8vw, 3rem);
  color: #d9c8ba;
}

@media screen and (max-width: 768px) {
  .welcome {
    max-width: 550px;
    margin: 3rem auto;
  }
}

@media screen and (max-width: 425px) {
  .welcome {
    margin: 1rem 0.5rem;
  }
}
